@import url(https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap);

body {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    height: 100vh;
    background: linear-gradient(120deg, rgb(104, 123, 178), rgb(95, 37, 111));
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    font-family: 'Segoe UI', sans-serif;
    color: #eee;
    width: 75%;
    height: 500px;
    text-align: center;
    transform: translateY(20vh);
    border-radius: 24px;
    background-color: #111;

}

.container > .content {
    margin-top: 100px;
    font-weight: 100;
}

.content > div {
    letter-spacing: 10px;
}   

.content > #displayDate {
    margin-top: 24px;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 12px;
}

.content > #displayTime {
    font-size: 144px;
    margin: 48px 0;
}

@media screen and (orientation: portrait) {
    .container {
        height: 400px;
        transform: translateY(25vh)
    }
    .content > #displayTime {
        font-size: 84px;
    }
}