@import url(https://fonts.googleapis.com/css?family=Quicksand);

body {
    background: linear-gradient(38deg, #d1e123, #cf7e7e);
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 75%;
    height: 75vh;
    background-color: #f1f1f1;
    margin: 100px;  
    border-radius: 15px;
    box-shadow: 0 0 12px 2px rgb(51, 51, 51);
}

.container h1 { 
    font-size: 48px;
}

button {
    padding: 8px;
    width: 200px;
    font-family: 'Quicksand', sans-serif;
    background-color: #010101;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    margin: 4px 2px;
    transition-duration: 250ms;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 6px 1px rgb(165, 165, 165);
    transition-duration: 250ms;
}

#button-reset {
    width: 408px;
}

h1 {
    margin: 60px;
}

#timer {
    font-size: 156px;
    margin: 56px 0;
    letter-spacing: 4px;
}

