@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.wrapper {
    background: linear-gradient(45deg, #71c0ad, #60a2b8, #5983cc); 
    height: 100vh;
    font-family: "comfortaa", sans-serif;
    color: #000;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container's style (General & Individual styling) (Include localStat.html) */

h1 {
    font-weight: 500;
    font-size: 32px;
    margin: 12px 0;
}

.container {
    background-color: #fefefe;
    text-align: center;
    height: 80vh;
    padding: 32px;
    border-radius: 16px;
    opacity: 0.875;
    box-shadow: 0 0 6px 4px #333333a1;
    transition-duration: 200ms;
}

.container:hover {
    opacity: 0.975;
    transition-duration: 200ms;
}

.container:nth-child(1) {
    width: 100vh;
    font-size: 24px;
    margin-inline: 32px 10px;
}

.container:nth-child(2) {
    width: 50vh;
    font-size: 18px;
    margin-inline: 10px 32px;
}

.container p {
    padding: 12px;
}

.container a {
    text-decoration: none;
    color: #000;
}

.selector a {
    display: block;
    padding: 16px;
    margin: 6px 0;
    background-color: #d1d1d1;
    border-radius: 8px;
}

.display {
    font-size: 20px;
}

/* Button for CPS test */

#cps-button {
    font-family: "comfortaa", sans-serif;
    font-size: 28px;
    padding: 96px 40px;
    margin: 3.5% 0;
    width: 90%;
    background-color: #111111;
    color: #fefefe;
    border-radius: 12px;
}

#cps-button:hover {
    cursor: pointer;
}

/* For localStat.html */

.displayStat {
    text-align: left;
    display: flex;
}

.displayStat p {
    padding: 4px;
    font-size: 18px;
}

.displayStat article {
    font-size: 14px;
    padding: 4px;
}

/* Responsive design */

@media only screen and (max-aspect-ratio: 10/6) {
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        height: fit-content;
    }
    .container {
        height: 50vh;
        padding: 24px;
    }
    .container:nth-child(1) {
        font-size: 20px;
        width: 90vh;
        height: 65vh;
        margin-inline: 0;
        margin: 8px;
    }
    .container:nth-child(2) {
        font-size: 15px;
        width: 90vh;
        height: fit-content;
        margin-inline: 0;
        margin: 8px;   
    }
    #cps-button {
        margin: 3% 0;
        padding: 76px 48px;
        width: 95%;
    }
    .display {
        margin: 8px 0;
    }
}