body {
    background: linear-gradient(125deg,#bbd3f7, #b066c3);
                
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #2a2a2a;
    color: #fff;
    padding: 60px 15px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 32px;
}

.container:nth-child(1) {
    width: 65%;
    font-size: 20px;
    height: 70%;
    margin: 0 12px;
}

.container:nth-child(2) {
    width: 25%;
    height: 70%;
    margin: 0 12px;
}

span {
    font-size: 24px;
}

span.title {
    font-size: 36px;
}

button {
    background: #000;
    border: 0;
    color: white;
}

.showRecords {
    font-size: 14px;
}

.button1 {
    width: 90%;
    padding: 100px 0;
    border-radius: 16px;
    margin-top: 58px;
    margin-bottom: 50px;
    font-size: 22px;
}

.container:nth-child(2) button {
    width: 80%;
}

.button3 {
    padding: 35px;
    margin-top: 25px;
    margin-bottom: 16px;
    border-radius: 12px;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
}



@media screen and (orientation: portrait) {
    .container {
        margin: 0 2px;
    }

    .container:nth-child(2) button {
        padding: 20px;
    }
    .button2 {
        margin-top: 12px;
    }
    .showRecords {
        font-size: 12px;
    }
    span, span.title    {
        font-size: 20px;
    };
}
